{{!-- <button class="btn" id="button">
    <span class="login-button">
        Ciao
    </span>
</button>

<button class="btn">
    <span class="login-button">
        Ciao
    </span>
</button>

<input type="checkbox" name="" id="checkbox"> --}}