div{
        .immagine1 {
        background-image: url("https://images.pexels.com/photos/1054203/pexels-photo-1054203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-position: center;
        background-size: cover;
        min-height: 400px;
        }

        .immagine2{
        background-image: url("https://images.pexels.com/photos/2536220/pexels-photo-2536220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-position: center;
        background-size: cover;
        min-height: 400px;
        }
     
        .testo{
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .altezza-colonna {
            height: 400px;
        }
    }

@include media-breakpoint-down(sm) {
    .ruota-riga {
        display:flex;
        flex-direction: column-reverse ;
    }

     .p-size {
         font-size: 12px;
     }

     .h2-size {
         font-size: 20px;
     }

}

@include media-breakpoint-up(sm) {   
    .padding-laterale {
        padding-left: 60px;
        padding-right: 60px;
    }
}














 




