<div class="row bg-white">
    <div class="col-12 col-md-6 padding-laterale altezza-colonna">
        <div class="text-wrapper testo">
            <h2 class="h2-size">Aenean vitae lacinia enim</h2>
            <p class="p-size">Nullam molestie non purus id ultrices. Donec euismod vitae lectus sed porta.
                Quisque odio purus, placerat sed justo ut, hendrerit facilisis tellus.
                Vestibulum in risus nec elit sodales euismod nec in lectus.
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6 immagine1 p-0"></div>
</div>

<div class="row bg-white ruota-riga">
    <div class="col-12 col-md-6 immagine2 p-0"></div>
    <div class="col-12 col-md-6 padding-laterale altezza-colonna">
        <div class="text-wrapper testo">
            <h2 class="h2-size">Cras fringilla</h2>
            <p class="p-size">Mauris eleifend nisi nec felis ornare dignissim.
                Suspendisse vehicula odio vel ante maximus, a viverra lorem malesuada.
                Sed a eros purus. Sed ut risus id augue elementum scelerisque.
                Suspendisse potenti. Nullam vel rhoncus leo, vitae scelerisque eros.
            </p>
        </div>
    </div>
</div>