<div class="card mt-3 marginBottom card-shadow">
    <div class="row">
        <div class="col-12">
            <div class="card-header bgWhite testoHeader">
                Lorem ipsum dolorit
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body bordo-card-body pb-0">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-6">
                        <h6 class="campo"> Name</h6>
                        <h6 class="valore">Mario Rossi</h6>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <h6 class="campo">Address</h6>
                        <h6 class="valore">Lorem Ipsum</h6>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <h6 class="campo">Birthdate</h6>
                        <h6 class="valore">05/08/1990</h6>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <h6 class="campo">Address</h6>
                        <h6 class="valore">Lorem Ipsum</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-6">
                        <h6 class="campo">Credit card</h6>
                        <h6 class="valore">Visa</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-6">
                        <h6 class="campo">Telephone</h6>
                        <h6 class="valore">587255664</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-footer bgWhite bordoFooter pt-4 pb-4">
                {{> button/button}}
            </div>
        </div>
    </div>
</div>