<div class="card abs-card m-1">
    <div class="card-header abs-card-header" title="card header">
        <h4 class="card-title text-center abs-text-h3">Lorem ipsum dolorit</h4>
    </div>
    <div class="card-body abs-card-body" title="card body">
        <div class="row">
            <div class="col-12 col-lg-6 abs-card-fieldset" title="fieldset">
                <h6 class="abs-text-h5 abs-field-label">Name</h6>
                <h6 class="abs-text-h5 abs-field-value">Mario Rossi</h6>
            </div>
            <div class="col-12 col-lg-6 abs-card-fieldset" title="fieldset">
                <h6 class="abs-text-h5 abs-field-label">Address</h6>
                <h6 class="abs-text-h5 abs-field-value">Via Lorem Ipsum</h6>
            </div>
            <div class="col-12 col-lg-6 abs-card-fieldset" title="fieldset">
                <h6 class="abs-text-h5 abs-field-label">Birthdate</h6>
                <h6 class="abs-text-h5 abs-field-value">11/05/1999</h6>
            </div>
            <div class="col-12 col-lg-6 abs-card-fieldset" title="fieldset">
                <h6 class="abs-text-h5 abs-field-label">Address</h6>
                <h6 class="abs-text-h5 abs-field-value">Via Lorem Ipsum</h6>
            </div>
            <div class="col-12 col-lg-6 abs-card-fieldset" title="fieldset">
                <h6 class="abs-text-h5 abs-field-label">Credit Card</h6>
                <h6 class="abs-text-h5 abs-field-value">Visa</h6>
            </div>
            <div class="col-12 col lg-6"></div> <!-- spaziatura -->
            <div class="col-12 col-lg-6 abs-card-fieldset" title="fieldset">
                <h6 class="abs-text-h5 abs-field-label">Telephone</h6>
                <h6 class="abs-text-h5 abs-field-value">3454168729</h6>
            </div>
        </div>
    </div>
    <div class="card-footer abs-card-footer" title="card footer">
        <button title="view more" class="btn abs-btn-dred">View more</button>
    </div>
</div>