{{!-- <div class="m-5">
    {{> accordion/accordion id="1" }}
    {{> accordion/accordion id="2" }}
    {{> accordion/accordion id="3" }}
</div> --}}

<div id="abs-accordion-dynamic-container" class="p-5 bg-white"></div>