<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Product</a>
  <button class="btn btn-primary my-2 my-sm-0" type="submit">Sign In</button>
</nav>

<div class="row image-container">
  <div class="col-12 px-0 immagine-header"></div>
  <div class="header-title text-center">
    <h1>Lorem Ipsum</h1>
  </div>
</div>