<div class="container-fluid m-0 p-5 bg-light abs-footer-container text-primary">
    <div class="row">
        <div class="col-12 col-md-8">
            <ul class="abs-hlist abs-hlist-link abs-hlist-bullet">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>

            <h6 class="abs-text-h6 text-dark">&#169; Products 2020, All Rights Reserved.</h6>
        </div>

        <div class="col-12 col-md-4">
            <ul class="abs-hlist abs-hlist-icon">
                <li>
                    <a title="facebook" href="#">
                        <i class="abs-icon fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a title="twitter" href="#">
                        <i class="abs-icon fab fa-twitter-square"></i>
                    </a>
                </li>
                <li>
                    <a title="instagram" href="#">
                        <i class="abs-icon fab fa-instagram-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>