<div class="footer-wrapper">

  <div class="row d-flex align-items-center">

    <div class="col-6 col-sm-12 col-md-8">
      <ul class="footer-items">
        <li class="item allineamento-verticale-link pl-0">
          <a class="link" href="#">About </a>
        </li>
        <li class="item allineamento-verticale-link">
          <a class="link" href="#">Contact </a>
        </li>
        <li class="item allineamento-verticale-link">
          <a class="link" href="#">Term of Use </a>
        </li>
        <li class="policy allineamento-verticale-link">
          <a class="link" href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>

    <div class="col-6 col-sm-12 col-md-4 allineamento-icone">
      <ul class="footer-items">
        <li class="icon"><a class="link px-2" href="#"><span class="fa fa-facebook fa-2x"></span></a></li>
        <li class="icon"><a class="link px-2" href="#"><span class="fa fa-twitter fa-2x"></span></a></li>
        <li class="icon"><a class="link px-2" href="#"><span class="fa fa-instagram fa-2x"></span></a></li>
      </ul>
    </div>

  </div>

</div>