<div class="container-fluid">
        {{> header/header}}
</div>

<div class="container">
        {{> card-group/card-group}}
</div>

<div class="container p-4">
        {{> accordion/accordion}}
</div>

<div class="container-fluid">
        {{> body/body}}
        {{> footer/footer}}
</div>

