@include media-breakpoint-down(sm) { 
    
    .titoloCard{
        color: red;
        font-weight: bold;
    }
    .testoCard {
        color: brown;
        font-weight: bold;
    }
    .marginBottom {
        margin-bottom: 20px;
    }
 }

 